#plugin-calendar {
    background-color: #e8e9e8;
    min-height: 380px;
    margin: 10px;
}

#plugin-weather {
    background-color: #e8e9e8;
    min-height: 380px;
    margin: 10px;
}

/*
 * Countdown plugin
 */
#plugin-countdown {


}

/*
 * Task plugin
 */
#plugin-trello {
    background-color: #e8e9e8;
    min-height: 380px;
    margin: 10px;
    padding-top: 15px;
    overflow-y:scroll;
    height: 400px;

}

.trello-card {

}

.trello-card .checklist-card{
    background-color: white;
    display: block;
    padding: 5px;
    margin-top: 10px;
}

.trello-card .checklist-card .name {
    padding-left: 5px;
}

/*
 * Slack plugin
 */

#plugin-slack {
    background-color: #e8e9e8;
    min-height: 380px;
    margin: 10px;
    padding-top: 15px;
    overflow-y:scroll;
    height: 400px;
}

.slack-message {
    background-color: white;
}

.slack-message p {
    padding: 5px;
}

.user-picture {
    padding: 5px;
    border-radius: 3px;
}

.sent-time {
    color: #a5a5a5;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
